
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(80deg, #000000, #3533cd);
    background-attachment: fixed;
    background-size: cover;
    color: white; 
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    box-sizing: border-box;
    
  }
  
